@CHARSET "UTF-8";
/* 상단베너 감추기 */
#topHeadAd {
    display: none;
}
/* 상단 중간 메뉴 */
.header-btn-wrap {
    width: 100%;
    height: 86px;
    margin: 0 auto;
    background-color: #fff; 
    border-bottom:1px solid #ccc;
    z-index: 20;
}
.btn_menu_all {
    margin-top: 28px;
    height: 32px;
    width: 98px;
    font-size: 14px;
    background-position: 0 0;
    vertical-align: middle;
}
.btn_social {
    position: absolute;
    top: 33px;
    left: 137px;
}
.btn_social a.film_society, .btn_social a.classic_society {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    line-height: 13px;
}
.btn_social a {
    height: 23px;
}
.header_search{
	margin-top: 20px;
}
.btn_theater {
    float: right;
    margin-top: 28px;
}
.btn_social .split {
    margin: 0 12px;
    border-right: 1px solid #555;
    height: 13px;
    vertical-align: middle;
}
.btn_theater .membership_link {
    float: left;
    margin: 12px 24px;
}
.btn_theater .membership_link .membership_txt {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    line-height: 13px;
}
.btn_theater .membership_link>* {
    float: left;
    height: 13px;
}
.btn_theater .membership_link .split {
    margin: 0 12px;
    border-left: 1px solid #000;
}
.btn_theater button {
    display: block;
    float: right;
    height: 32px;
    width: 113px;
    font-size: 14px;
    background-position: 0 0;
    vertical-align: middle;
}

/* 분류 하위메뉴 */
.middle-btn-wrap{
	width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: #f2f2f2; 
    border-bottom:3px solid #503396;
    z-index: 20;
}
.middle-btn-wrap .nav-pills>li.title {
	height: 47px;
	color:#503396;
	font-size:2rem;
	font-weight:bold;
	background-color:transparent;
	vertical-align: middle;
}
.middle-btn-wrap .nav-justified li a{
	height: 47px;
	color:#111;
	font-size:1.8rem;
	font-weight:bold;
	text-align:left;
	background-color:transparent;
	vertical-align: middle;
}
.middle-btn-wrap .nav-justified li a:hover{
	color:#503396;
	background-color:transparent;
}
.middle-btn-wrap .nav-pills>li.active>a {
	height: 47px;
	color:#503396;
	font-size:1.8rem;
	background-color:transparent;
	vertical-align: middle;
}