<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.genre.dao.mapper.GenreMapper">
	
	<!-- 장르 전체 리스트 -->
	<select id="selectGenreList" resultType="map">
		SELECT genre_ID AS genreID,
			code1,
			cord2,
			genre_NAME AS genreName,
		FROM genre 
		ORDER BY code1,cord2
	</select>
	
	<!-- 장르 추가 -->
	<insert id="insertGenre" parameterType="map">
		INSERT INTO Genre 
		(
			Genre_id, 
			code1, 
			code2, 
			Genre_name
		)
		VALUES 
		(
			Gen_id_seq.nextval, 
			#{code1}, 
			#{code2}, 
			#{GenreName,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 장르 수정 -->
	<update id="updateGenre" parameterType="map">
	    UPDATE genre 
	    SET genre_name=#{genreName}, 
	    	genre_subject = #{genreSubject}, 
	    	genre_use= #{genreUse}
	    WHERE genre_id=#{genreID}
    </update>
    
    <!-- 장르 삭제 -->
    <delete id="deleteGenre" parameterType="map">
    	DELETE 
    	FROM Genre 
    	WHERE Genre_id = #{genreID}
    </delete>
    
	<!-- 장르 아이디로 장르 정보 조회 -->
	<select id="selectGenre" parameterType="map" resultType="gwangjae.tms.genre.domain.Genre">
		SELECT genre_ID AS genreID,
			code1,
			cord2,
			genre_NAME AS genreName,
		FROM genre 
		WHERE genre_id = #{genreID}
	</select>
    
</mapper>