<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.genre.dao.mapper.GenreMapper">
	
	<!-- 장르 전체 리스트 -->
	<select id="selectGenreList" resultType="map">
		SELECT gen_id AS genreID,
			gen_major AS code1,
			gen_minor AS code2,
			gen_name AS genreName
		FROM genre 
		ORDER BY gen_major,gen_minor
	</select>
	
	<!-- 장르 추가 -->
	<insert id="insertGenre" parameterType="map">
		INSERT INTO Genre 
		(
			gen_id, 
			gen_major, 
			gen_minor, 
			gen_name
		)
		VALUES 
		(
			Gen_id_seq.nextval, 
			#{code1}, 
			#{code2}, 
			#{GenreName,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 장르 수정 -->
	<update id="updateGenre" parameterType="map">
	    UPDATE genre 
	    SET gen_name=#{genreName},
	    WHERE gen_id=#{genreID}
    </update>
    
    <!-- 장르 삭제 -->
    <delete id="deleteGenre" parameterType="map">
    	DELETE 
    	FROM Genre 
    	WHERE gen_id = #{genreID}
    </delete>
    
	<!-- 장르 아이디로 장르 정보 조회 -->
	<select id="selectGenre" parameterType="map" resultType="gwangjae.tms.genre.domain.Genre">
		SELECT gen_id AS genreID,
			gen_major AS code1,
			gen_minor AS code2,
			gen_name AS genreName,
		FROM genre 
		WHERE gen_id = #{genreID}
	</select>
    
</mapper>