<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.admin.dao.mapper.AdminMapper">
	<resultMap id="AdminMap" type="User">
		<id property="user_id" column="user_id"/>
		<result property="user_name" column="user_name"/>
		<result property="user_email" column="user_email"/>
		<result property="user_address" column="user_address"/>
		<result property="user_phone" column="user_phone"/>
		<result property="birth" column="user_birthdat"/>
		<result property="user_type" column="user_type"/>
	</resultMap>
	
	<select id="getUsers" resultMap="AdminMap">
		select * from users
	</select>
	
	<select id="getUser" parameterType="int" resultMap="AdminMap" resultType="User">
		select * from users where user_id=#{user_id}
	</select>

	<delete id="delUsers" parameterType="int">
		delete users where user_id=#{user_id}
	</delete>
</mapper>