<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.admin.dao.mapper.AdminMapper">
	<resultMap id="AdminMap" type="User">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="userEmail" column="user_email"/>
		<result property="userAddress" column="user_address"/>
		<result property="userPhone" column="user_phone"/>
		<result property="userBirthday" column="user_birthday"/>
		<result property="userType" column="user_type"/>
	</resultMap>
	
	<resultMap id="performMap" type="AdminPerformance">
		<id property="perfTitle" column="perf_title"/>
		<result property="perfStartDate" column="perf_startdate"/>
		<result property="perfEndDate" column="perf_enddate"/>
		<result property="perfImage" column="perf_Image"/>
		<result property="perfDisplay" column="perf_display"/>
		<result property="perfCat" column="cat_id"/>
		<result property="perfcountTicket" column="count"/>
	</resultMap>
	
	<select id="getUsers" resultMap="AdminMap">
		select * from users where user_type in(1,2) order by user_id
	</select>
	
	<select id="searchUser" parameterType="String" resultMap="AdminMap">
		select * from users where user_name like '%'||#{userName}||'%'
	</select>

	<delete id="delUsers" parameterType="int">
		delete users where user_id=#{userId}
	</delete>
	
	<sql id="selectPerform">
		select perf_title,cat_id,perf_startdate,perf_enddate,perf_image,perf_display,
		count(s.PERF_ID) count
		from performances p join SEATINFO s
		on p.PERF_ID=s.PERF_ID
		join RESERVES r
		on s.PERF_ID=r.PERF_ID 
	</sql>
	<sql id="selectPerform2">
		group by perf_title,perf_title,perf_startdate,cat_id,
		perf_enddate,perf_image,perf_display,s.PERF_ID
	</sql>
	
	<select id="getPerform" resultMap="performMap">
		<include refid="selectPerform"/>
		<include refid="selectPerform2"/>
    </select>
    
    <select id="searchPerform" parameterType="String" resultMap="performMap">
   	    <include refid="selectPerform"/>
		where perf_title like '%'||#{perf_title}||'%'
		<include refid="selectPerform2"/>
	</select>
</mapper>