<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.hall.dao.mapper.HallMapper">
	<resultMap id="CenterMap" type="center">
		<id property="centerId" column="center_id"/>
		<result property="centerName" column="center_name"/>
		<result property="centerPost" column="center_post"/>
		<result property="centerAddress" column="center_address"/>
		<result property="centerPhone" column="center_phone"/>	
	</resultMap>

	<select id="getHalls" resultMap="CenterMap">
		
	</select>
	
	<select id="getCenter" parameterType="String" resultMap="CenterMap">
		
	</select>
	
	<insert id="addCenter" parameterType="Center">
		insert into centers(ctr_id,loc_id,ctr_name,ctr_postcode,ctr_address,ctr_phone)
		values(ctr_id_seq.nextval,#{locationId},#{centerName},#{centerPost},#{centerAddress},#{centerPhone})
	</insert>
	
	<update id="modHall" parameterType="hall">
		
	</update> 
	
	<delete id="delHall" parameterType="String">
		
	</delete>
</mapper>