<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.performance.dao.mapper.PerformanceMapper">
	<resultMap id="SeatMap" type="seatInfo">
		<id property="seatInfoId" column="sinfo_id"/>
		<result property="perId" column="perf_id"/>
		<result property="seatId" column="s_id"/>
		<result property="grade" column="sinfo_grade"/>
		<result property="price" column="sinfo_price"/>	
	</resultMap>
	
	<resultMap id="PerMap" type="performance">
		<id property="per_id" column="perf_id"/>
		<result property="per_title" column="perf_title"/>
	</resultMap>
	
	<resultMap id="HallMap" type="hall">
		<id property="hallId" column="h_id"/>
		<result property="hallName" column="h_name"/>
	</resultMap>
	
	<resultMap id="layoutMap" type="hall">
		<id property="hallRow" column="h_row"/>
		<result property="hallCol" column="h_col"/>
	</resultMap>

	<select id="getSeats" resultMap="SeatMap">
		select * from seatinfo
	</select>

	<insert id="addSeat" parameterType="Seat">
		insert into seats(s_id, s_row, s_col,s_type,perf_id,s_number)
		values(s_id_seq.nextval, #{seatRow},#{seatCol},#{seatType},#{per_id},#{seatNumber})
	</insert>
	
	<insert id="addPerInfo" parameterType="performance">
		insert into performances(perf_id,h_id,cat_id,perf_title,perf_startdate,perf_enddate,perf_image,perf_display)
		values(peft_id_seq.nextval,#{hall_id},#{ct_id},#{per_title},#{per_startDate},#{per_endDate},#{per_image},0)
	</insert>
	
	<update id="addPerDetail" parameterType="performance">
		update performances
		set perf_startdate= #{per_startDate},perf_enddate= #{per_endDate}
		where perf_id = #{per_id}
	</update>
	
	<select id="getPer" resultMap ="PerMap">
		select perf_id,perf_title from performances
		where perf_title Like '%'||#{value}||'%'
	</select>
	
	<select id="getHalls" parameterType="int" resultMap ="HallMap">
		select h_id,h_name from halls
		where ctr_id = #{value}
	</select>
	
	<select id="getLayout" parameterType="int" resultMap ="layoutMap">
		select h_row,h_col from halls
		where h_id 
		in(select h_id from performances where perf_id=#{value})
	</select>
	
	<select id="maxGrade" parameterType="int" resultType ="int">
		select MAX(s_type) from seats where perf_id = #{value}
	</select>
	
</mapper>