<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.performance.dao.mapper.PerformanceMapper">
	<resultMap id="SeatMap" type="seatInfo">
		<id property="seatInfoId" column="sinfo_id"/>
		<result property="perId" column="perf_id"/>
		<result property="seatType" column="s_id"/>
		<result property="grade" column="sinfo_grade"/>
		<result property="price" column="sinfo_price"/>	
	</resultMap>
	
	<resultMap id="PerSeatMap" type="seat">
		<id property="seatId" column="s_id"/>
		<result property="seatRow" column="s_row"/>
		<result property="seatCol" column="s_col"/>
		<result property="seatType" column="s_type"/>
		<result property="per_id" column="perf_id"/>
		<result property="seatNumber" column="s_number"/>
		<result property="state" column="state"/>
		<result property="price" column="price"/>
	</resultMap>
	
	<resultMap id="PerMap" type="PerfSearch">
		<id property="per_id" column="perf_id"/>
		<result property="per_title" column="perf_title"/>
		<result property="ct_id" column="CAT_ID"/>
		<result property="per_startDate" column="PERF_STARTDATE"/>
		<result property="per_endDate" column="PERF_ENDDATE"/>
		<result property="per_image" column="PERF_IMAGE"/>
		<result property="loc" column="LOC_ID"/>
		<result property="hName" column="H_NAME"/>
		<result property="cName" column="CTR_NAME"/>
	</resultMap>
	
	<resultMap id="HallMap" type="hall">
		<id property="hallId" column="h_id"/>
		<result property="hallName" column="h_name"/>
	</resultMap>
	
	<resultMap id="layoutMap" type="hall">
		<id property="hallRow" column="h_row"/>
		<result property="hallCol" column="h_col"/>
	</resultMap>

	<select id="getSeats" resultMap="SeatMap">
		select * from seatinfo
	</select>
	
	<select id="seatinfoForTicket" parameterType="Seat" resultMap="SeatMap">
		select *
		from SEATINFO
		where PERF_ID=#{per_id} and sinfo_type in(select s_type from seats where s_id = #{seatId})
	</select>
	
	<select id="getPerLayout"  parameterType="int" resultMap="PerSeatMap">
		<!-- select * 
		from seats
		where perf_id = #{value} -->
		select s.*,si.SINFO_PRICE AS "price"
		from seats s
		  LEFT OUTER JOIN SEATINFO si
		ON s.S_TYPE = si.SINFO_TYPE AND s.PERF_ID = si.PERF_ID 
		WHERE s.perf_id = #{value}
		ORDER BY s.S_NUMBER
	</select>

	<insert id="addSeat" parameterType="Seat">
		insert into seats(s_id, s_row, s_col,s_type,perf_id,s_number,state)
		values(s_id_seq.nextval, #{seatRow},#{seatCol},#{seatType},#{per_id},#{seatNumber},0)
	</insert>
	
	<insert id="addPerInfo" parameterType="performance">
		insert into performances(perf_id,h_id,cat_id,perf_title,perf_startdate,perf_enddate,perf_image,perf_display)
		values(peft_id_seq.nextval,#{hall_id},#{ct_id},#{per_title},#{per_startDate},#{per_endDate},#{per_image},0)
	</insert>
	
	<update id="addPerDetail" parameterType="performance">
		update performances
		set perf_startdate= #{per_startDate},perf_enddate= #{per_endDate}
		where perf_id = #{per_id}
	</update>
	
	<select id="getPer" resultMap ="PerMap">
		select p.perf_id, p.perf_title,p.CAT_ID,c.loc_id,c.CTR_NAME, h.H_NAME, p.PERF_STARTDATE, p.PERF_ENDDATE, p.PERF_IMAGE
		from performances p, CENTERS c, HALLS h
		where p.h_id = h.H_ID and h.CTR_ID = c.CTR_ID 
		and p.perf_id in(select perf_id from performances where perf_title Like '%'||#{value}||'%')	
	</select>
	
	<select id="getHalls" parameterType="int" resultMap ="HallMap">
		select h_id,h_name from halls
		where ctr_id = #{value}
	</select>
	
	<select id="getLayout" parameterType="int" resultMap ="layoutMap">
		select h_row,h_col from halls
		where h_id 
		in(select h_id from performances where perf_id=#{value})
	</select>
	
	<select id="maxGrade" parameterType="int" resultType ="int">
		select count(distinct s_type) from seats where perf_id = #{value}
	</select>
	
	<insert id="seatInfoInit" parameterType="SeatInfo">
		insert into seatInfo(sinfo_id,perf_id,sinfo_type,sinfo_grade,sinfo_price)
		values(sinfo_id_seq.nextval,#{perId},#{seatType},'none',0)
	</insert>
	
	<update id="updateSeatsInfo" parameterType="SeatInfo">
		update seatInfo
		set sinfo_grade= #{grade},sinfo_price= #{price}
		where perf_id = #{perId} and sinfo_type = #{seatType}
	</update>
	
	<insert id="addRound" parameterType="Round">
		insert into round(rnd_id,rnd_date,rnd_time,perf_id)
		values(rnd_id_seq.nextval,#{roundDate},#{roundTime},#{perId})
	</insert>
	
</mapper>