<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.ticketing.dao.mapper.TicketingMapper">
	<resultMap type="TicketSeatInfo" id="sinfoMap">
		<id property="sinfoId" column="sinfo_id"/>
		<result property="sId" column="s_id"/>
		<result property="perfId" column="perf_id"/>
		<result property="sinfoGrade" column="sinfo_grade"/>
		<result property="sinfoPrice" column="sinfo_price"/>
		<result property="hId" column="h_id"/>
		<result property="sRow" column="s_row"/>
		<result property="sCol" column="s_col"/>
		<result property="sNumber" column="s_number"/>
		<result property="sType" column="s_type"/>
	</resultMap>
	
	<resultMap type="Round" id="RoundMap">
		<id property="roundId" column="rnd_id"/>
		<result property="roundDate" column="rnd_date"/>
		<result property="roundTime" column="rnd_time"/>
	</resultMap>
	
	<select id="getAllSeatInfo" parameterType="int" resultMap="sinfoMap">
		SELECT * 
		FROM SEATINFO si, SEATS s
		WHERE si.S_ID = s.S_ID AND si.PERF_ID = #{value}
		ORDER BY si.SINFO_ID, s.S_ROW, s.S_COL
	</select>
	
	<select id="getPerfSkdList" parameterType="int" resultMap="RoundMap">
		SELECT rnd.RND_DATE, rnd.RND_TIME, rnd.RND_ID
		FROM round rnd, performances perf
		WHERE rnd.PERF_ID = perf.PERF_ID AND perf.PERF_ID = #{value}
	</select>
	<!-- 
	<select id="getPerfSkdList" parameterType="int" resultType="String">
		SELECT rnd.RND_DATE
		FROM round rnd, performances perf
		WHERE rnd.PERF_ID = perf.PERF_ID AND perf.PERF_ID = #{value}
	</select>
	 -->
	<select id="getPerfInfo" parameterType="int" resultType="Map">
		<!-- SELECT si.*
		FROM SEATINFO si, PERFORMANCES p
		WHERE si.PERF_ID = p.PERF_ID AND si.PERF_ID = #{perfId}
		ORDER BY si.SINFO_TYPE -->
		 
		SELECT SINFO_ID AS "sinfoId",
			PERF_ID AS "perfId",
			SINFO_GRADE AS "sinfoGrade",
			SINFO_PRICE AS "sinfoPrice",
			SINFO_TYPE AS "sType"
		FROM PERFORMANCES
		WHERE PERF_ID = #{perfId}
		
		<!-- SELECT si.*
		FROM SEATINFO si, PERFORMANCES p
		WHERE si.PERF_ID = p.PERF_ID AND si.PERF_ID = #{perfId}  AND si.SINFO_TYPE = 1
		ORDER BY si.SINFO_TYPE -->
		 
	</select>
	
	<select id="getPerfSeatInfo" parameterType="int" resultType="Map">
		SELECT si.SINFO_ID AS "seatInfoId",
			si.PERF_ID AS "perId",
			si.SINFO_GRADE AS "grade",
			si.SINFO_PRICE AS "price",
			si.SINFO_TYPE AS "seatType"
		FROM SEATINFO si, PERFORMANCES p
		WHERE si.PERF_ID = p.PERF_ID AND si.PERF_ID = #{perfId}
		ORDER BY si.SINFO_TYPE
	</select>
</mapper>