<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://mybatis.org/schema/mybatis-spring
		http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	<context:component-scan base-package="gwangjae.tms"></context:component-scan>
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- IRVR 뷰의 이름으로 실제 주소와 확장자를 붙여서 찾아줌 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 리소스 준비 -->
	<mvc:resources mapping="/img/**" location="/WEB-INF/resources/img/" />
    <mvc:resources mapping="/css/**" location="/WEB-INF/resources/css/" />
    <mvc:resources mapping="/js/**"  location="/WEB-INF/resources/js/" />
    <mvc:resources mapping="/theme/**"  location="/WEB-INF/resources/theme/" />
    <mvc:resources mapping="/favicon.ico" location="/WEB-INF/resources/favicon.ico" />
    
	<!-- mybatis -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/tms" /> <!-- META 정보 context.xml에 정의되어 있음 -->
        <property name="resourceRef" value="true" />
    </bean> 
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" 
            value="classpath:gwangjae/tms/config/SqlMapConfig.xml"/>
        <property name="mapperLocations" >
            <array>
                <value>classpath:gwangjae/tms/common/login/dao/mapper/**/*.xml</value>	<!-- 맵퍼 XML 위치 -->
                <value>classpath:gwangjae/tms/hall/dao/mapper/**/*.xml</value>
                <value>classpath:gwangjae/tms/performance/dao/mapper/**/*.xml</value>
                <value>classpath:gwangjae/tms/category/dao/mapper/**/*.xml</value>	
                <value>classpath:gwangjae/tms/admin/dao/mapper/**/*.xml</value>		
                <value>classpath:gwangjae/tms/user/dao/mapper/**/*.xml</value>
                <value>classpath:gwangjae/tms/location/dao/mapper/**/*.xml</value>
                <value>classpath:gwangjae/tms/mypage/dao/mapper/**/*.xml</value>
                <value>classpath:gwangjae/tms/ticketing/dao/mapper/**/*.xml</value>
                <value>classpath:gwangjae/tms/genre/dao/mapper/**/*.xml</value>
            </array>
        </property>
    </bean> 
    <mybatis:scan base-package="gwangjae.tms.common.login.dao.mapper" /> <!-- 맵퍼 인터페이스 패키지 위치 -->
    <mybatis:scan base-package="gwangjae.tms.hall.dao.mapper" /> 
    <mybatis:scan base-package="gwangjae.tms.performance.dao.mapper" />
    <mybatis:scan base-package="gwangjae.tms.category.dao.mapper" /> 
    <mybatis:scan base-package="gwangjae.tms.admin.dao.mapper" />
    <mybatis:scan base-package="gwangjae.tms.user.dao.mapper" />
    <mybatis:scan base-package="gwangjae.tms.location.dao.mapper" />
    <mybatis:scan base-package="gwangjae.tms.mypage.dao.mapper" />
    <mybatis:scan base-package="gwangjae.tms.ticketing.dao.mapper" />
    <mybatis:scan base-package="gwangjae.tms.genre.dao.mapper" />

	<!-- Spring 과 json과의  연동 설정 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
	    <property name="messageConverters">
	    <list>    
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	            <property name="supportedMediaTypes">
	                <list>
	                    <value>text/html;charset=UTF-8</value>
	                    <value>application/json;charset=UTF-8</value>
	                </list>
	            </property>
	        </bean>            
	    </list>
	    </property>                        
	</bean>
	
	<!-- 트랜젝션 준비 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
          <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <!-- AOP 준비 -->
    <aop:aspectj-autoproxy /> 
    
    <!-- 파일 업로드 준비 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
    <context:property-placeholder location="classpath:gwangjae/tms/config/upload.properties"/>  
    <mvc:resources mapping="/WEB-INF/resources/img/perf/**" location="/WEB-INF/resources/img/perf/" />  <!--업로드 폴더 지정 -->    

</beans>