<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.category.dao.mapper.CategoryMapper">

	<resultMap id="perMap"	type="Performance">		
		<id property="per_id" column="perf_id"/>
		<result property="per_title" column="perf_title"/>
		<result property="per_startDate" column="perf_startdate"/>
		<result property="per_endDate" column="perf_enddate"/>
		<result property="per_image" column="perf_image"/>
		<result property="display" column="perf_display"/>
		<association property="hall_id" column="hallMap"/>
		<association property="ct_id" resultMap="cateMap"/>	
	</resultMap>
	
	<resultMap id="cateMap" type="Category">
		<id property="cat_id" column="cat_id"/>
		<result property="gen_id" column="gen_id"/>
		<result property="loc_id" column="loc_id"/>
		<result property="cat_name" column="cat_name"/>
		<result property="cat_use" column="cat_use"/>
	</resultMap>
	
	<resultMap id="hallMap" type="Hall">
		<id property="hallId" column="h_id"/>
		<result property="hallName" column="h_name"/>
		<result property="hallRow" column="h_row"/>
		<result property="hallCol" column="h_col"/>
		<result property="centerId" column="ctr_id"/>	
	</resultMap>
	
	<select id="getSearchResult" parameterType="int" resultType="map">
		SELECT p.perf_id AS "per_id",
		 	p.h_id AS "hallId",
		 	p.cat_id AS "cat_id",
		 	p.perf_title AS "per_title",
		 	p.perf_startdate AS "per_startDate",
		 	p.perf_enddate AS "per_endDate",
		 	p.perf_image AS "per_image",
			h.h_name AS "hallName"
		FROM performances p
		LEFT OUTER JOIN halls h
		ON p.H_ID = h.H_ID
		WHERE p.PERF_DISPLAY = 0 AND p.CAT_ID = #{gen_id}
		ORDER BY p.PERF_ID DESC
		<!-- 장르별 검색 1: 뮤지컬, 2: 콘서트, 3: 연극 -->
	</select>
</mapper>