<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="gwangjae.tms.user.dao.mapper.UserMapper">
	
	<insert id="addUser" parameterType="User">		
		INSERT into users (user_id, user_name, user_email, user_pw, user_post, user_address, user_phone, user_birthday, user_type)
		values (user_id_seq.nextval, #{userName}, #{userEmail}, #{userPw} , #{userPost}, #{userAddress}, #{userPhone}, #{userBirthday}, #{userType})		
	</insert>
	
</mapper>