<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="cacao.tms.hall.dao.mapper.HallMapper">
	<resultMap id="HallMap" type="hall">
		<id property="hall_id" column="hall_id"/>
		<result property="hall_name" column="hall_name"/>
		<result property="hall_row" column="hall_row"/>
		<result property="hall_col" column="hall_col"/>
		<result property="center_id" column="center_id"/>	
	</resultMap>

	<select id="getHalls" resultMap="HallMap">
		
	</select>
	
	<select id="getHall" parameterType="String" resultMap="HallMap">
		
	</select>
	
	<insert id="addHall" parameterType="string">
		
	</insert>
	
	<update id="modHall" parameterType="hall">
		
	</update> 
	
	<delete id="delHall" parameterType="String">
		
	</delete>
</mapper>